@use './assets/styles/reset.scss'; // CSS reset for styles across ALL browsers; safai, chrome, firefox, etc...
@import '~boxicons/css/boxicons.min.css'; // Import the Boxicons CSS file

// Color Scheme >>> variables 
$color-bg: #F3F4F6;             // dirty white
$color-primary: #C54A45;        // red
$color-secondary: #4F90FC;      // light blue
$color-text: #2B2B2B;           // matte black
$color-surface: #CCCCCC;        // light gray

// Font Sizes >>> variables 
$font-size-extra-small: 0.8rem;
$font-size-small: 0.95rem;
$font-size-medium: 1.0rem;
$font-size-extra-medium: 1.1rem;
$font-size-large: 1.15rem;
$font-size-extra-large: 1.3rem;
$font-size-extra2-smaller-large: 2.0rem;
$font-size-extra-extra-large: 2.4rem;
$font-size-supreme: 3rem;

html {
    width: 100%;
}

body {
    background-color: $color-bg;
}

#mobile {
    display: none;
}

header { // header content
    z-index: 499;
    max-height: 64px;

    // Desktop Navbar >>>
    nav {
        display: flex;
        justify-content: start;
        background-color: $color-primary;
        padding: 1.3rem;
        z-index: 500;
        min-height: 63.5px;

        .logo {
            position: absolute;
            width: 191px;
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 999;
        }
        
        ul {
            list-style: none; 
            margin: 0;
            padding: 0;
            display: flex;
            gap: 2rem;
            z-index: 501;

            #home {
                margin-left: 200px;
            }
        }
    
        li { // for dropdown menus
            position: relative;
            font-size: $font-size-large;
        }
    
        a {
            color: $color-bg; 
            text-decoration: none; 
            font-weight: bold;
            display: flex; 
            align-items: center;
            gap: 0.5rem;

            transition: all 0.3s;
        
            &:hover { // menu items on hover
                color: $color-secondary;
                font-size: $font-size-extra-large;
            }
        }
    
        // Dropdown Menu >>> 
        ul ul { // hide dropdown initially
            display: none; 
            position: absolute;
            background-color: $color-surface;
            padding: 0.5rem;
            list-style: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    
        li:hover > ul {  // show dropdown on hover
            display: block;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    
        ul ul li {
            margin: 0;
        }
    
        ul ul a {
            color: $color-text;
            font-size: $font-size-medium;
            margin-bottom: 15px;
            padding: 5px;
            width: 240px;

            transition: all 0.3s;

            &:hover { // hover for dropdown
                color: $color-primary;
                background-color: $color-text;
                padding: 10px 5px;
                border-radius: 10px;
                font-size: $font-size-large;
            }
        }

        .btn-donate { // donate btn
            position: absolute;
            width: 100px;
            top: 0;
            right: 0;
            font-size: $font-size-extra-large;
            height: 64px;
            cursor: pointer;
            background-color: $color-secondary;
            color: $color-bg;
            border: none;
            
            transition: all 0.3s;

            &:hover { // hover for donate btn, header
                border-top-left-radius: 50px;
                background-color: $color-bg;
                color: $color-text;
                font-size: $font-size-large;
                // text-transform: 
            }
        }
    }
}

main { // main content
    z-index: 0;
    width: 100%;

    section {
        background: $color-bg;
        height: 90vh;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    .section-hero { // the hero image section
        display: flex;
        justify-content: center;

        div { // the hero image
            background-image: url("./assets/images/navadavetsorg-hero-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            width: 85vw;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            transition: all 0.3s;
        }
    }

    .hero-content-wrapper { // content for hero image
        background-image: none !important;
        position: relative;
        bottom: 100px;
        color: $color-bg;

        img {
            width: 150px;
            margin: 25px;

            transition: all 0.3s;
        }

        h1 {
            font-size: $font-size-supreme;
            font-weight: bold;

            transition: all 0.3s;
        }

        p {
            margin: 10px;
            font-size: $font-size-extra-large;

            transition: all 0.3s;
        }

        button { // call-to-action btn hero image content
            margin: 20px;
            padding: 10px 15px;
            border-radius: 5px;
            font-size: $font-size-medium;
            background-color: $color-secondary;
            color: $color-bg;
            border: none;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            transition: all 0.3s;

            &:hover {
                border-bottom-right-radius: 50px;
                box-shadow: rgba(197, 74, 69, 0.4) 5px 5px, rgba(197, 74, 69, 0.3) 10px 10px, rgba(197, 74, 69, 0.2) 15px 15px, rgba(197, 74, 69, 0.1) 20px 20px, rgba(197, 74, 69, 0.05) 25px 25px;
            }
        }
    }
}

// Media Queries >>>
@media screen and (max-width: 1200px) { // 1200px width {
    main .section-hero div {
        width: 90vw;
    }
}
@media screen and (max-width: 1000px) { // 1000px width
    main .hero-content-wrapper img {
        width: 125px;
    }
    main .hero-content-wrapper h1 {
        font-size: $font-size-extra-extra-large;
    }
}
@media screen and (max-width: 900px) { // 900px width
    header nav li {
        font-size: $font-size-small;

        &:hover {
            font-size: $font-size-medium;
        }
    }
    header nav ul ul a {
        font-size: $font-size-small;
        width: 210px;

        &:hover {
            font-size: $font-size-medium;
        }
    }
    main .hero-content-wrapper img {
        width: 115px;
    }
    main .hero-content-wrapper p {
        font-size: $font-size-large;
    }
    main .hero-content-wrapper button {
        font-size: $font-size-extra-small;
    }
}
@media screen and (max-width: 840px) { // 840px width
    #desktop {
        display: none;
    }
    #mobile-menu {
        display: none;
    }
    #mobile {
        display: flex;
    }
}
@media screen and (max-width: 700px) { // 700px width
    main .hero-content-wrapper h1 {
        font-size: $font-size-extra2-smaller-large;
    }
    main .hero-content-wrapper img {
        width: 100px;
    }
    main .hero-content-wrapper p {
        font-size: $font-size-medium;
    }
}
@media screen and (max-height: 600px) { // 600px height
    main .hero-content-wrapper {
        bottom: 50px;
    }
    main .section-hero div {
        height: 85vh;
    }
    main section {
        padding-top: 5px;
    }
}
@media screen and (max-width: 500px) { // 500px width
    main .hero-content-wrapper h1 {
        font-size: 1.7rem;
    }
    main .hero-content-wrapper img {
        width: 100px;
    }
    main .section-hero div {
        height: 85vh;
    }
    main section {
        padding-top: 5px;
    }
}
@media screen and (max-width: 425px) { // 425px width
    main .hero-content-wrapper h1 {
        font-size: 1.5rem;
    }
    main .hero-content-wrapper img {
        width: 100px;
    }
}